{%extends 'base.html'%}{% block title%}Edit Post{%endblock%}{%block content%}

<h1>Edit Post</h1>
<form action="" method="POST">
  <label for="title">Title</label>
  <input id="title" name="title" value="{{ post.title }}" />
  <label for="content">Content</label>
  <textarea name="content" id="content" cols="30" rows="10">
{{ post.content }}</textarea
  >

  <div>
    <a href="/users/{{ post.user_id }}">Cancel</a>
    <button type="submit">Save</button>
  </div>
</form>

{% endblock%}
